.DetailSecond {
  display: flex;
  margin: 5rem 10rem;
  font-style: italic;
}

.DetailSecond h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.DetailSecond .second-left {
  flex: 1.25;
  border-right: 1px solid black;
}

.DetailSecond .second-right {
  flex: 1;
  margin: 0 2rem;
}
.DetailSecond .second-right .step .step-content {
  font-size: 1.4rem;
}
.DetailSecond .second-right .step {
  margin-top: 5px;
}
.DetailSecond .second-right .step .step-content span {
  font-size: 1.6rem;
}
