.chat-toggle-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #edb26c;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-toggle-button.open {
  background-color: #e74c3c;
}

.iconChatbox:hover {
  transform: scale(1.1);
}

.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  width: 30rem;
  height: 50vh;
  background-color: #fff;
  border: 2px solid rgb(166, 166, 166);
  box-shadow: 20px 50px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.logochatbox {
  width: 100px;
  height: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-header {
  background-color: #cdcccb;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  overflow: auto;
}

.user,
.bot {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.user {
  justify-content: flex-end;
}

.bot {
  justify-content: flex-start;
}

.userMess,
.botMess {
  max-width: 70%;
  padding: 8px;
  border-radius: 5px;
  margin: 0 5px;
}

.userMess {
  background-color: #3458db;
  color: #fff;
}

.botMess {
  background-color: #c0c0c0;
  color: #fff;
}

.message-input {
  display: flex;
  align-items: center;
  padding: 10px;
}

input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btnchatbox {
  background-color: #edb26c;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.btnchatbox:hover {
  transform: scale(0.9);
}
